<!DOCTYPE html>
<html lang="en">
  <body>
    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-8">
            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">
                <div class="swiper-slide">
                  <%= image_tag "portfolio/wip.jpg", class: 'img-fluid', alt: '' %>
                </div>
              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="portfolio-info">
              <h3><%= t 'portfolio_details.info_label' %></h3>
              <ul>
                <li><strong><%= t 'portfolio_details.category_label' %></strong>: <%= t 'ispend.category' %></li>
                <li><strong><%= t 'portfolio_details.date_label' %></strong>: <%= t 'ispend.date' %></li>
                <li><strong><%= t 'portfolio_details.url_label' %></strong>: <a href="#"><%= t 'ispend.url' %></a></li>
                <li><strong><%= t 'portfolio_details.repo_label' %></strong>: <a href="#"><%= t 'ispend.repo' %></a></li>
              </ul>
            </div>
            <div class="portfolio-description">
              <h2><%= t 'portfolio_details.description_label' %></h2>
              <p><%= t 'ispend.description' %></p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Portfolio Details Section -->
  </body>
</html>